@import 'common.css';

.clock {
  font-size: 4rem;
  font-weight: normal;
}

.shopItem {
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 4px 4px 10px gray;
}
.shopItem .info {
  padding: 1.6rem;
}

.shopItem img {
  /* nustatyti vienoda auksti ir kad neissikraipytu */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
